@tailwind base;
@tailwind components;
@tailwind utilities;

$dark-primary-color: #522c94;
$dark-secondary-color: #8f4fff;
$dark-ternary-color: #e2d1ff;
$dark-background-color:#2b194d;
$dark-background-coor:#2a66c5;

$primary-color: #6739b7;
$background-color:#ebe0ff;
$Roboto:Roboto, sans-serif;
$Ubuntu: 'Ubuntu', sans-serif;

html,body {
  margin: 0;
  height: -webkit-fill-available;
  width: 100%;
  overflow: hidden;
  font-family:'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  max-height: 100vh;
  overflow: scroll;
}


// Disabling default input styling 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  // border: none;
}
input:focus {
  outline: none; /* Removes the border when the input is clicked */
}
input::placeholder{
  text-align: center;
  font-size: large;
}

// Button styling
@layer components {
  .myBtn {
    @apply absolute bottom-0 left-0 right-0 bg-[darkgrey] text-[rgb(83,83,83)] text-center p-3 font-semibold cursor-pointer box-border w-full m-auto max-w-3xl;
  }
}

.enable{
  background-color: $primary-color !important;
  color: white !important;
}

.iAmActiveBitch + div{
  color: $primary-color;
}